<nb-layout>
  <nb-layout-header>The Guitar Dojo</nb-layout-header>
  <nb-sidebar>Practice</nb-sidebar>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>Practice</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item>I'm Feeling Lucky</nb-list-item>
          <nb-list-item>Scales</nb-list-item>
          <nb-list-item>Calisthenics</nb-list-item>
          <nb-list-item>Work on a current song</nb-list-item>
          <nb-list-item>Add a new song</nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
