@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

mat-card-title {
    font-size: x-large;
    font-weight: bold;
}

h1 {
  font-size: xx-large;
  font-family: 'Yeon Sung', cursive;
  margin: 1em 1em 1em 1em;
}
